<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/style_login.css">
    <title>Registre-se</title>
	{{> Adiciona_scripts }}
  </head>
  <body>
  <div class="loginbonito">
	<div class="container">
	<img src="../img/icon.png">
      <form action="/cadastroRealizado" method="POST" name="form_registro">
        <h2>Registre-se</h2>
        <input type="text" placeholder="Nome" name="nome" required autofocus>
		<input type="text" placeholder="Apelido" name="apelido" required autofocus>
		<input type="text" placeholder="Login" name="login" required autofocus>
        <input type="password" placeholder="Senha" name="senha" required>
        <input type="button" onClick="return validaFormRegistro()" value="Registre-se">
		<p>
      </form>
    </div> 
  </div>
  </body>
</html>