html, body{
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	background: url(../img/planodefundo2.png);
}

.header{
	position: fixed;
	width:100%;
	height: 18%;
	display: block;
	padding:10px 0;
	background-color: #fff;
	z-index:100;
	-webkit-box-shadow: 0 4px 6px -6px #222;
	-moz-box-shadow: 0 4px 6px -6px #222;
	box-shadow: 0 4px 6px -6px #222;
	font-size: 80px;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-color: #fff;
	
}
.header img {
	margin-left:18px;
	float:left;
}

.header h1 {
	font-size: 60px;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	float: left;
}
button, textarea, input[type=text], input[type=number],input[type=button], select, option, input[type=password] {
	width: 300px;
	height: 50px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 4px;
	background: #fff;
	text-decoration: none;
	border:1px solid #ccc;
}

input[type=button]:hover, button:hover {
	background-color:#ccc;
	border:1px solid #ccc;
	color: #fff;
}
input[type=text]:hover, input[type="password"]:hover {
-moz-border-radius:4px;
-webkit-border-radius:4px;
-webkit-box-shadow: 0px 0px 15px 1px #fff;
-moz-box-shadow: 0px 0px 10px 1px #fff;
box-shadow: 0px 0px 4px 0px #fff;
border:1px solid #fff !important;
outline:none; 
}
.box {
	background-color: #fff;
	position: relative;
	float: left;
	width: auto;
	height: auto;
	margin-left: 20px;
	margin-top: 200px;
	opacity: 0.7;
	padding: 10px;
	filter: alpha(opacity=70);
}

.boxreajust {
	margin-top: 20px !important;
}
ul {
	list-style-type: none;
	width: 500px;
} 
h3 {
	font: bold 20px/1 Helvetica, Verdana, sans-serif;
	font-color: #fff;

} 

h4 {
	font: bold 16px/1 Helvetica, Verdana, sans-serif;
	font-color: #fff;
}

h2 {
	font: bold 25px/1 Helvetica, Verdana, sans-serif;
	font-color: #fff;
}
li img {
	height:	300;
	width:	200;
	float: left;
	margin: 0 15px 0 0;
	z-index:50;
}
li {
	padding: 10px;
  	overflow: auto;
}
li:hover {
	background: #eee;
}

.container {
	background-color: #fff;
	width: 300px;
	height: 100%;
	padding: 40px;
	margin-left: 70px;
	top:1px;
	bottom:2px;
	
	/*-moz-box-shadow: 3px 3px 3px #fff;
	-webkit-box-shadow: 3px 3px 3px #fff;
	box-shadow: 3px 3px 3px #fff; 
	-webkit-transition-property: top, bottom;	
	transition: */
	/*transition-property: background-color;
	transition-property: all;
	transition-duration: 1s; */
	transition-property: background-color;
	transition-delay: 0.2s;
	transition-duration: 2s;
}